.container {
    margin: 0 auto;
    padding: 2rem 0;
    text-align: center;
    img{
        max-width: $max-width;
        height: auto;
    }

    &--post{
        text-align: left;
        padding: 0;
    }
}