.container {
    margin: 0 auto;
    padding: 2rem 0;
    max-width: $max-width;
    text-align: center;
    img{
        max-width: $max-width;
        height: auto;
    }
    &--post{
        max-width: $max-width;
        margin: 0 auto;
        text-align: left;
        padding: 0;
    }
    &--new-post{
        max-width: 250px;
        margin: 0 auto;
        text-align: right;
        padding: 0;

    }
}