.container {
    margin: 0 auto;
    padding: 2rem 0;
    text-align: center;
    img{
        max-width: $max-width;
        height: auto;
    }
    &--post{
        max-width: $max-width;
        margin: $navbar-height auto;
        text-align: left;
        padding: 0;
        img{
            // max-width: $max-width;
            // height: auto;
            // z-index: -1;
        }
    }
    &--new-post{
        max-width: 250px;
        margin: 0 auto;
        text-align: right;
        padding: $navbar-height 0;

    }
}