$colour-primary: #EC9168;
$colour-secondary: #797B84;
$colour-accent: #764134;
$colour-black: #171313;
$colour-white: #FFFBFB;

$colour-borders: #c9c9c9;
// $colour-backgrounds: rgba(0, 0, 0, 0.204);

$font-primary: 'Roboto';

// $breakpoints: (
//     "mobile": "700px",
//     "tablet": "1017px"
// )