/** So6 colors */
$colour-sausage: #EC9168;
$colour-grey: #797B84;
$colour-brown: #764134;

$colour-primary: $colour-sausage;
$colour-secondary: $colour-grey;
$colour-accent: $colour-brown;
$colour-black: #171313;
$colour-white: #FFFBFB;
$colour-links: rgb(35, 35, 158);

$colour-borders: $colour-secondary;

// $colour-backgrounds: rgba(0, 0, 0, 0.204);

/** FONT */
$font-primary: 'Roboto';

$font-primary: 'Open Sans', 'sans-serif';

/** SIZE */
//container
$max-width: 1250px;
// avatar
$avatar-large: 5em;
$avatar: 1em;

/** Breackpoints */
// $breakpoints: (
//     "mobile": "700px",
//     "tablet": "1017px"
// )