.commentDetails{
        display: flex;
        justify-content: space-between;
        
        &__info{
            display: flex;
            font-size: small;
            gap: 1em;
            &--user{
                display: flex;
                gap: 0.5em;
            }
        }
    }