.feed{
    max-width: $max-width;
    margin: auto;
}

.post {
    &__link {
        color: $colour-accent;
        &:visited {
            color: $colour-accent;
        }
    }
    &__user{
        display : flex;
        align-items: center;
        gap: 10px;
    }
    &__buttons{
        display: flex;
        gap: 10px;
        margin: 5px;
        align-items: flex-start;
    }
    &__media {
        display: flex;
        justify-content: center;
        img{
            max-width: 100%;
        }
    }
    &__text{
        .body{
            border-top: solid 1px;
            border-bottom: solid 1px;

            padding: 0.5em;
        }
        .comments{
            padding : 0.5em;
            color: $colour-secondary;
        }
    }
}