.feed{
    &__vegan-mode{
        display: flex;
        gap: 12px;
        justify-content: center;
        img{
            width: 24px;
            height: auto;
            object-fit: contain;
        }
    }
}
