form {
    margin: 2rem auto;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    label {
        align-self: flex-start;
        color: $colour-accent;
        font-size: 1.5rem;
        font-weight: 600;
        position: relative;
        top: 2px;
    }
    input {
        min-height: 30px;
        color: $colour-black;
        border: 1px solid $colour-borders;
        border-radius: 4px;
        padding-left: 10px;
        font-size: 1.5rem;
        &:focus {
            outline: 0;
            border: 2px solid $colour-borders;
            border-radius: 4px;
        }
        &::placeholder {
            letter-spacing: 3px;
            font-style: italic;
            color: lighten($color: $colour-black, $amount: 60%)
        }
    }
    button {
        background-color: $colour-primary;
        margin-top: 2rem;
        min-height: 30px;
        border: none;
        border-radius: 5px;
        color: $colour-white;
        font-weight: 600;
    }
}

.form__link {
    color: $colour-links;
    font-weight: 600;
    font-size: 1.3rem;
    position: relative;
    bottom: 2rem;
    &:visited {
        color: $colour-links;
    }
}