.modal {
    &__description {
        &--logout {
            text-align: center;
            font-weight: 600;
            font-size: 1.6rem;
        }
    }
    &__post{
        background-color: $colour-white;
        .modal__media{
            width: 100%;
            height: auto;
        }
        &--close{
            display: flex;
            justify-content: right;
            padding:  12px 12px 0 0;
            img{
                height: 15px;
                width: 15px;
            }
        }
    }
}