.posts-grid {
  flex-grow: 1;
    &__all-images {
      position: relative;
      display: flex;
      flex-direction: column;
      padding-bottom: 0px;
      padding-top: 0px;

    }
    &__row-images {
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      justify-content: center
    }
    &__image {
      width: 32vw;
      height: 32vw;
      object-fit: cover;
      margin: 0.05em;
    }
}
