.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

// .column {
//   flex: 25%;
//   max-width: 25%;
//   padding: 0 4px;
// }

.post-grid__image {
  width: 30vw;
  height: 30vw;
  object-fit: cover;
  padding: 0.05em;
}